# Local build output
target/

# Editor files
.DS_Store
.idea
.vscode
.zed
dist

# Apify local storage
apify_storage
storage/*
!storage/key_value_stores
storage/key_value_stores/*
!storage/key_value_stores/default
storage/key_value_stores/default/*
!storage/key_value_stores/default/INPUT.json